html {
  --main-width: 500px;
  --body-background-color: #121213;
  --color: #d7dadc;
  --tile-color: #d7dadc;
  --secondary-color: #88898a;
  --error-color: #dc3a28;
  --error-background-color: #4c201b;
  --success-color: #538d4e;
  --success-background-color: #2a4727;
  --tile-border-color: #444;
  --tile-not-present-color: #3a3a3c;
  --tile-present-color: #b59f3b;
  --tile-correct-color: #538d4e;
  --tile-loading-color: #272729;
  --link-color: #5be;
  --primary-action-color: #023e9c;
  --slider-foreground: #538d4e;
  --slider-background: #303033;
}

html.colorblind {
  --tile-color: white;
  --tile-present-color: #0090bb;
  --tile-correct-color: #e55b00;
  --slider-foreground: #e55b00;
}

html.high-contrast {
  --color: white;
  --tile-color: white;
  --body-background-color: black;
  --secondary-color: #bbb;
  --tile-border-color: white;
  --slider-foreground: white;
}

body {
  background: var(--body-background-color);
  color: var(--color);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: var(--link-color);
}

#root {
  margin: 0 auto;
  padding-top: 4px;
  width: 100%;
  max-width: var(--main-width);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

#header {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--tile-border-color);
}

#title {
  margin: 0;
  transform: scaleX(-1);

  text-align: center;

  letter-spacing: 3px;
  font-size: 36px;
  font-weight: 600;
}

#description {
  margin: 0;
  text-align: center;

  font-size: 14px;
}

#react-root {
  min-height: 617px;
}

#notice {
  height: 17px;
  width: 287px;
  padding: 16px;
  margin: 16 auto;
  visibility: hidden;

  border-radius: 6px;
}

#notice.error {
  background: var(--error-background-color);
  border-left: 6px solid var(--error-color);
  visibility: visible;
  animation: shake 0.5s 0s 1 linear;
}

#notice.success {
  background: var(--success-background-color);
  border-left: 6px solid var(--success-color);
  visibility: visible;
  animation: fly-in 0.2s 0s 1 ease-out;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(-5px);
  }
  30% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  70% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes fly-in {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform:  translateY(0px);
    opacity: 1;
  }
}

.guess {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.tile {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  margin: 3px;
  border: 2px solid var(--tile-border-color);

  color: var(--tile-color);

  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  user-select: none;
}

.tile.active {
  transition: 50ms ease-out background, 50ms ease-out border-color;
}

.tile:not(:disabled) {
  cursor: pointer;
}

.tile.score-empty {
  background: var(--body-background-color);
}

.tile.score-not-present {
  background: var(--tile-not-present-color);
  border-color: var(--tile-not-present-color);
}

html.high-contrast .tile {
  border-color: var(--tile-border-color);
}

.tile.score-present {
  background: var(--tile-present-color);
  border-color: var(--tile-present-color);
}

.tile.score-correct {
  background: var(--tile-correct-color);
  border-color: var(--tile-correct-color);
}

.tile.loading {
  color: var(--secondary-color);
}

#game-actions {
  margin: 16px auto 0;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  -ms-align-self: center;
  align-self: center;
}

button {
  border-radius: 6px;
  font-size: 16px;
  border: none;
  color: inherit;
  height: 36px;
}

button:not(:disabled) {
  cursor: pointer;
}

.game-action {
  width: fit-content;
  padding-left: 14px;
  padding-right: 14px;
}

button.primary {
  background: var(--primary-action-color);
}

button.secondary {
  background: var(--tile-not-present-color);
}

.game-action:disabled {
  cursor: not-allowed;
  color: var(--secondary-color);
  opacity: 0.7;
}

html.high-contrast .game-action {
  border: 2px solid var(--tile-border-color);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html.high-contrast button.secondary {
  background: none;
}

html.high-contrast .game-action:disabled {
  border-color: var(--secondary-color);
  text-decoration: line-through;
  opacity: 1;
}

.game-action + .game-action {
  margin-left: 8px;
}

#scores, #about, #settings {
  line-height: 1.4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 8px;
}

.scores-grid {
  display: grid;
  grid-template-columns: 65px auto 85px;
  grid-gap: 0 8px;
}

.scores-grid .header {
  font-weight: 700;
}

.score-slider {
  position: relative;
}

.score-slider.header {
  text-align: center;
}

.score-slider-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--slider-background);
}

.score-slider-foreground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--slider-foreground);
}

#settings {
  margin-top: 40px;
  line-height: 40px;
}

#settings > label {
  display: block;
  height: 40px;
  cursor: pointer;
}

#settings input {
  margin-right: 8px;
}
